body{
    background-color: #5F9AE0;
}
.container{
    width: 600px;
    margin:auto;
    background-color: #AFEEEE;
}
.header h1{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E90FF;
    border-radius: 5px;
}
.header ul li{
    display: inline;
    margin-left: 10px;
    
}
.cover{
    height: 300px;
    width: 600px;
    background-size: cover;
    background-repeat: no-repeat ;
    background-image: url(imgview.jpg);
}
.row{
  display: flex;
  justify-content: center;
}
.content h2{
    color: white;
    font-size: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    background-color: #48D1CC;
}
.content p{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    text-indent: 20px;
    display: flex;
    justify-content: flex;
    background-color: #87CEEB;
}
.sidebar{
  font-family: Georgia;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 5px;
  text-indent: 20px;
  display: flex;
  justify-content: center;
  background-color: cyan;
}
.footer{
    height: 25px;
    background-color: #000080;
    text-align: center;
    color: white;
}
.footer p{
    font-size: 18px;
}